@charset "utf-8";

/* slideBanner_01.css */
/* 슬라이드 배너 기능 */

h1 {}

.slide_wrap {
	width: 800px; height: 600px;
	margin: auto;
	border: 1px solid #333;
}

.slide_btn {
	position: absolute; top: 50%; left: 5%; z-index: 300;
	width: 90%; height: 0;

}
.slide_btn > button {
	float: left;
	width: 50px; height: 60px;
	transform: translateY(-50%);
	background-color: #ac8;
	border-radius: 30px;
}
.slide_btn > .next {float: right;}
.slide_btn > .prev {}


.indicator {
	position: absolute; left: 50%; bottom: 0.5rem;
	width: 50%; height: 2rem;
	border-radius: 1rem;
	transform: translateX(-50%);
	background-color: #ac8;
}

.slide_banner_box {
	width: 100%; height: 100%;

}

.slide_banner_wrap {
	width: 500%; height: 100%; /*맨 뒤 슬라이드가 앞으로 오는 것까지 계산해서 가로 500퍼센트*/
	margin-left:-100%;
	background-color: #aca;
}
.slide_banner_wrap > div {
	float: left;
	width: 20%; height: 100%;
}

.slide_ban_01 {background-color: #3ddeff;}
.slide_ban_02 {background-color: #333;}
.slide_ban_03 {background-color: #3eff38;}
.slide_ban_04 {background-color: #3939ff;}