#git자료에 올리지 않을 파일을 선택하여 처리
# *  -> '모든'이라는 의미,    *.*  ->'모든 파일명'   **  -> '모든 폴더' 
# ! -> '반대'라는 의미

#ai,psd 등 도 작성을 하면 로컬 파일에는 파일있는데, github에는 없다. 기존에 있었던  것도 삭제됨. 로컬컴에는 있음
#git 올릴 때 주의사항
#git에 올릴 때, git add. 하지 말고, .gitignore 먼저 올리고 그 다음 거 올려야해


**/media/youtube/
**/node_modules