@charset "uft-8";
/* reset.css */
:root{font-size:16px;} /*최초의 세팅*/

html, body {width:100%; height:100%; font-family:sans-serif;}
html, body, h1, h2, h3, h4, h5, h6, p, pre,
img, div, figure, figcaption, hr,
ul, ol, li, dl, dt, dd,
header, article, section, main, aside, footer, nav {
  margin: 0; padding: 0; border: 0; outline:0;}
header, article, section, main, aside, footer, nav, figure, figcaption {display: block;}

ul, ol, li{list-style: none;}
a{text-decoration: none; color: inherit;}
button{border:none; background-color: transparent; cursor: pointer; border-radius: 0;} /*border-radius는 사파리 브라우저에서 버튼모양이 기본적으로 둥근 사각형이 되는 것을 방지하기위해.*/
a:focus, button:focus {outline: 3px solid #fa0;}

address{font-style: normal;}
abbr{text-decoration: none;}

hr{border-bottom: 1px solid #333;}
