/* certiInfoBox.css */
/* 자격증 정보 설명 내용 */

/* certiInfoBox ======================= */
#certiInfoBox{
	padding: 30px 4% 75px; box-sizing: border-box;
	background-color: #ff0066;}

#certiInfoBox > h2 {
	float: left; width: 244px; height: 260px;
	margin-right: 4%; background-color: #ccc;}
.certi_con {
	float: left;
	min-width: 750px; max-width: 1200px; height: 670px;
	background-color: #ccc;}
.certi_graphic {}