@charset "utf-8";

/* canvas_01.css */
/* 캔버스 알기 */

/* ----- */
:root {
	--black : #333;
}

/* ----- */
#wrap {
	width: 800px; height: auto;
	margin: auto;
}

h1 {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--black);
	text-transform: uppercase;
}

h2 {
	padding: 0.5rem;
	background-color: #dce;
}

#viewBox {
	width: 400px; height: 400px;
	margin:auto; margin-top: 2rem;
	/* background-color:#af8; */
	border: 1px solid var(--black);
}

.paper {
	width: 100%; height: 100%;
	background-color:#dfdfdf;
}