@charset "utf-8";

/* dom_dropDown.css */
/* DOM 기능 이해하기 01 문서의 스타일시트 */

h1,h2,h3 {text-align: center;}

.drop_menu {
	width: 800px; height: 50px; 
	margin:auto; margin-top:20px;
	background-color: #ddf;
}

	.drop_menu ul {
		width: 100%; height: auto; 
		background-color: rgba(220, 150, 230, 0.5);
	}

		.drop_menu li {
			float: left;
			width: 25%; height: 100%;
			padding: 5px; box-sizing: border-box;
			text-align: center;
		}

		.drop_menu dl {
			width: 100%; height: auto;
		}

			.drop_menu dt {
				width: 100%; height: 40px; 
				background-color: #aaf;
				line-height: 40px; font-size: 1.1rem; font-weight: bold;
				cursor: pointer;
			}

			.drop_menu dd {
				display: none;
				width: 100%; height: auto;
				padding-top: 5px; box-sizing: border-box;
				color: #fff;
				background-color: #1df;
			}

				.drop_menu dd > a {
					display: block;
					width: 100%; height: 35px; 
					margin-bottom: 5px;
					line-height: 35px;
					border-bottom: 1px solid #fff;
				}

/* .drop_menu:hover dd {display: block;} */

/* 
키보드 tab 했을 때 focus 잡히게 하려면 
	1.a태그 
	2.button태그 
	3.tabindex
	  : 강제 탭 but,
*/