/* font.css */

.font_family {font-family: 'Noto Sans KR', sans-serif;}
/* font-family를 설정해주지 않는다면, 브라우저마다 다른 서체(브라우저 기본값 서체)가 나온다. */

.font_weight {
	margin-top: 30px;
	font-family: 'Noto sans KR', sans-serif;
}
	.w_01 {font-weight: normal; font-style: normal;}
	.w_02 {font-weight: bold;}
	.w_03 {font-weight: thin;}
	.w_04 {font-weight: 100; font-style: inherit;}

.line_height {
		margin-top: 30px; 
		background-color: #dfdfdf;
		line-height: 1.2;}

.lh {
	width: 150px; 
	height: 40px; 
	margin: 50px auto; 
	text-align: center;
	line-height: 40px; 
	background-color: #fac;}

:root{font-size: 16px;}
.font_size {padding: 1rem; 
	margin-bottom: 3rem; 
	background-color: #acf;
	font-size: 16px;
	text-align: right;
}