@charset "utf-8";

/* audio.css */
/* '문서세부내용' */

#wrap {
	width: 800%; height: 700px;
	margin: auto;
	background-color: #dadada;
}
.media_data {
	width: 90%; height: 200px;
	border: 1px solid #333;
}

.btn{
	display: inline-block;
	background-color: #fac;
}

.btn > button{
	padding: 1rem; border-radius: 0.5rem;
	background-color: #05a;
	color: #fff;
}
.btn > button:hover, 
.btn > button:focus{
	background-color: #01f;
	color: #181818;
	font-weight: bold;
	box-shadow: -0.2rem -0.2rem 0.3rem rgba(0, 0, 0, 0.7); 
}
.btn > button.action {
	box-shadow: -0.2rem -0.2rem 0.3rem rgba(0, 0, 0, 0.7) inset;
}