/* common.css */

.hidden, 
.hidden_wrap a>span {display: block; 
	position: absolute; z-index: -1; 
	width: 0; height: 0; overflow: hidden;
	border: 0; margin: 0;  padding: 0;}

.full,
.hidden_wrap a {display: block; width: 100%; height: 100%}





.clearfix:after, .clearfix::after {content: " "; display: block; clear: both;} /*content 큰 따옴표 안에 띄어쓰기 한칸 반드시*/

