@charset utf-8;
/* gcass_main.css */

#wrap {width: 980px; height: 850px; margin: auto;}

/* #sideBox ============================ */
#sideBox {float: left; width: 100%; height: 35px; background-color: #888;}
#sideBox > ul {float: right; width: 435px; height: 100%;}
#sideBox li {float: left; text-transform: uppercase; text-align: center; font-size: 0.9375rem; line-height: 0.9375rem;}
#sideBox li:nth-child(1) {width: 95px; height: 100%; background-color: #888;}
#sideBox li:nth-child(2) {width: 95px; height: 100%; background-color: #555;}
#sideBox li:nth-child(3) {width: 245px; height: 100%; padding-left: 18px; box-sizing: border-box; background-color: #fff30d; text-align: left;}

/* #headBox ============================ */
#headBox {float: left; width: 248px; height: 712px; 
	padding-left: 48px; padding-top: 50px; box-sizing: border-box; 
	background-color: #777}

h1 {width: 153px; height: 103px; 
	margin-bottom: 43px;
	background-image: url(../../images/gcass_h1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#headBox > ul {width: 153px; height: 290px;}
#headBox li {width: 100%; height: 58px; 
	background-repeat: no-repeat; background-position: 0 0;}
#headBox li:nth-child(1) {background-image: url(../../images/gnb_01.png);}
#headBox li:nth-child(1):hover {background-image: url(../../images/gnb_01_active.png);}
#headBox li:nth-child(2) {background-image: url(../../images/gnb_02.png);}
#headBox li:nth-child(2):hover {background-image: url(../../images/gnb_02_active.png);}
#headBox li:nth-child(3) {background-image: url(../../images/gnb_03.png);}
#headBox li:nth-child(3):hover {background-image: url(../../images/gnb_03_active.png);}
#headBox li:nth-child(4) {background-image: url(../../images/gnb_04.png);}
#headBox li:nth-child(4):hover {background-image: url(../../images/gnb_04_active.png);}
#headBox li:nth-child(5) {background-image: url(../../images/gnb_05.png);}
#headBox li:nth-child(5):hover {background-image: url(../../images/gnb_05_active.png);}

.qna {width: 153px; height: 113px; margin-top: 8px;
	background-image: url(../../images/other_link.png);
	background-repeat: no-repeat;
	background-position: 0 0;}
.qna:hover {background-image: url(../../images/other_link_active.png);}


/* #viewBox ============================ */
#viewBox {position: relative; float: left; width: 732px; height: 712px; background-color: #adadad;}
.view_pattern {width: 100%; height: 49px;
	background-image: url(../../images/patter_bg_1.png);
	background-repeat: repeat-x;
	 background-position: 0 0;}
.view_image {width: 100%; height: 663px;
	position: absolute; left: 80px; top: 48px; 
	background-image: url(../../images/view_graphic.png);
	background-repeat: no-repeat}


/* #footBox ============================ */
#footBox {position: relative; float: left; width: 100%; height: 110px; 
	padding-left: 48px; padding-top: 16px; box-sizing: border-box;
	background-color: #fff}

	h2 {float: left; width: 80px; height: 54px;
	background-image: url(../../images/gcass_h2.png);
	background-repeat: no-repeat;
	background-position: 0 0;}

	.location_sns {float: left; width: 90px; height: 54px; margin-left: 14px; margin-right: 16px;}
	.location {float: left; width: 44px; height: 100%; 
		background-image: url(../../images/location.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;}
	.sns {float: left; width: 46px; height: 100%; 
		background-image: url(../../images/f_logo_RGB-Grey_58.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;}

	.address {float: left; width: 368px; height: 54px;}
	.address p {font-size: 0.875rem;}

	.family_site {position: absolute; left: 638px; top: -50px;
		width: 300px; height: 100px; }
	.webpage {width: 100%; height: 50%;}
		.webpage_title {float: left; width: 30%; height: 100%; 
			background-color: #555;}
		.webpage_title p {color: #fff; font-size: 1rem;}	
		.webpage_title i {display: inline-block; width: 10px; height: 10px;
			background-image: url('../../images/arrow_triangle.png');
			background-repeat: no-repeat;
			background-position: 0 0;}	
		.webpage_url {float: left; width: 70%; height: 100%; background-color: #baa50c;}

		.cafe {width: 100%; height: 50%;}	
		.cafe_title {float: left; width: 30%; height: 100%; 
			color: #fff; 
			background-color: #555;}
		.cafe_url {float: left; width: 70%; height: 100%; background-color: #fff30d;}