//basic_03.scss
/* basic_03.css */

@import '../setting/mixin';

h1 {
	@include Img('logo.png', $r:repeat-x);
}

#headBox {
	@include Size(100, 400);
}

.conBox {
	@include Con {width:100px; height:100px;}
}

#wrap  {
	width: 100%; max-width: 1200px;
	margin:auto;
	@include Mob{
		width: 90%;
		max-width:620px;
	}
	@include Tab {
		width: 80%;
		max-width: 960px;
		background-color:#faf;
	}
}

#test {
	width: vw(10,'mob');
}